{% block welcome %}
<div class="container-fluid welcome-container" >
    <div class="row d-flex align-items-center vh-100">
        <div class="col-12">
            <div class="welcome">
                <h4 class="text_welcome"><span class="span_text_welcome">Приветствуем <i class="fa-regular fa-hand-peace"></i></span></h4>
                <hr>
                <h5 class="text_welcome_description"><span class="span_text_welcome_description">Домашнее Задание #20. Кортежи, множества, словари. Часть I.</span></h5>
            </div> 

            <div class="exercises_post_scriptum p-5 mt-5 rounded-5">
                <p>Примечание:</p>
                <ul>
                    <li>в первых двух заданиях используется обычный перебор кортежей</li>
                    <li>в последнем задании используется модуль NumPy</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}